
* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
  background: linear-gradient(to left, rgb(115, 138, 240), rgb(213, 214, 230));
}

.container {
  max-width: 530px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 20px gray;
}

.inputCalculadora{
  padding: 8px;
  border-radius: 8px;
  border: 1px solid gray;
  width: 100%;
  margin-bottom: 40px;
  font-size: 25px;
}
.inputCalculadora:hover{
  border: 1px solid black;
  
}

.inputCalculadora:active{
  border: 2px solid rgb(167, 211, 212);
  transition: 0s;
}

.tabela{
  justify-content: center;
}

button{
  border-radius: 10px;
  border: none;
  width: 90px;
  height: 45px;
  margin-bottom: 10px;
  background-color: rgb(228, 228, 228);
  font-size: 20px;
  cursor: pointer;
}

button:hover{
  background-color: cadetblue;
  transition: 0.1s;
  color: white;
 
}

button:active{
  background-color: rgb(167, 211, 212);
  transition: 0s;
}

.container{
  text-align: center;
  justify-content: center;
}

.containerCalculadora{
  width: 100%;
  
}
.divResultado{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-top: 25px;
}

.resultado{
  margin-left: 5px;

}

.btnIgual{
  background: #8ab4f8;
  color: black;
  border: 1px solid #8ab4f8;
}

.btnIgual:hover{
  background: #aecbfa;
  border-color: #aecbfa;
  color: black;
}

.btnIgual:active{
  box-shadow: 1px 1px rgb(170, 170, 170);
}